<div>
    <div class="row" style="text-align:center; margin-bottom:10px;">
        <div class="col-xs-6">
            <button class="btn btn-default" ui-sref="inside.newAssignment"> <i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i> New Assignment </button>
        </div>                         

        <div class="col-xs-6">
            <button class="btn btn-default" ui-sref="inside.newclass"> <i class="fa fa-calendar-plus-o fa-fw" aria-hidden="true"></i> New Class </button>    
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p ng-repeat="ass in assignments">{{ass}}</p>
        </div>
    </div>

</div>
