<div>
    <div class="row">
        <div class="col-sm-6">
            <h1>New Assignment</h1>
		
	    <div class="form-group">
  		<label for="name">Assignment Name:</label>
                <input id="name" type="text" class="form-control" placeholder="Assignment Name" ng-model="assignment.name" />
	    </div>

	    <form class="form-inline" role="form">
                <select class="form-control" ng-model="assignment.class">
                    <option name="name" value="value" ng-repeat="name in classes"></option>
	        </select>
	        <button class="btn btn-default" ng-click="addClass()"><i class="fa fa-plus"></i></button>
	    </form>

	    
            <p>Choose due date<p>
            <div class="col-xs-12">
	        <div uib-datepicker ng-model="assignment.dueDate" class="well well-sm" datepicker-options="options"></div>
            </div>
			
	    <div class="form-group">
                <label for="notes"></label>
                <textarea id="notes" ng-model="assignment.description" class="form-control" style="resize:none;" placeholder="Notes"></textarea>
	    </div>
		
            <button class="btn btn-default pull-right" ui-sref="inside.home" ng-disabled="invalidForm()" ng-click="submit()">Submit</button>
            <button class="btn btn-default" ui-sref="inside.home">Cancel</button>
        </div>
    </div>
</div>
