<div>
    <div class="row">
        <div class="col-sm-6">
            <h1>New Assignment</h1>
            <input type="name" class="form-control" placeholder="Assignment Name" ng-model="assignment.name" />

            <input type="text" ng-model="assignment.class" uib-typeahead="class.name for class in classes | filter:$viewValue | limitTo:8" class="form-control" placeholder="Class">

            <textarea ng-model="assignment.description" class="form-control" style="resize:none;" placeholder="Description"></textarea>

			<p>Choose due date<p>
			<div class="col-xs-12">
				<div uib-datepicker ng-model="assignment.dueDate" class="well well-sm" datepicker-options="options"></div>
			</div>
			
            <button class="btn btn-default pull-right" ui-sref="inside.home" ng-disabled="invalidForm()" ng-click="submit()">Create Assignment</button>
            <button class="btn btn-default" ui-sref="inside.home">Cancel</button>
        </div>
    </div>
</div>
