<div class="container">
  <div class="row">
  	<div class="col-sm-6">
  		<h1>New Class</h1>

  		<input type="name" class="form-control" placeholder="Class Name" />
      <!-- DON'T FORGET THE FRICKEN TIME PICKER HERE -->
      <form>
        <p>Select the days of the week the class occurs on.<p></br>
        <input type="checkbox" id="monday" value="monday"><label for="monday">Monday</label></br>
        <input type="checkbox" id="tuesday" value="tuesday"><label for="tuesday">Tuesday</label></br>
        <input type="checkbox" id="wednesday" value="wednesday"><label for="wednesday">Wednesday</label></br>
        <input type="checkbox" id="thursday" value="thursday"><label for="thursday">Thursday</label></br>
        <input type="checkbox" id="friday" value="friday"><label for="friday">Friday</label></br>
      </form>
  		<button class="btn btn-default" ui-sref="inside.home">Create Class</button>
  	</div>
  </div>
</div>
