/* Just dump all the styles in this file */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid black;
}

.header h3 {
    margin: 0;
}

input {
    margin-bottom: 10px;
}

menu {
    position: absolute;
    top: 80px;
}
